<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >  
<suite name="SuiteAll" verbose="1" object-factory="org.powermock.modules.testng.PowerMockObjectFactory">
    <test name="TestAll">  
        <classes>  
            <class name="personal.capital.interview.portfolio.PortfolioEvaluationTest"/>
        </classes>  
    </test>  
</suite>